/*
* Defautls base start configuration
*/
html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #eee;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}