/*
 * Footer
 */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #999;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #384459;

    p {
        margin: 0;
    }
}