/*
 * Main
 */
main {
    padding-top: 1em;
    padding-bottom: 3em;

    div {
        section {
            border-radius: 5px;
            background-color: #283142;

            &#sales {
                padding: 1em;
            }
        }
    }
}